<div ng-controller="cws.VideoPickerController">

        <div class="form-group">
            <label for="txtYouTubeHeight">Video Height</label>
            <input class="form-control" type="text" name="txtYouTubeHeight" id="txtYouTubeHeight" ng-model="model.value.height" />
        </div>
        <div class="form-group">
            <label for="txtYouTubeWidth">Video Width</label> 
            <input class="form-control" type="text" name="txtYouTubeWidth" ng-hide="txtYouTubeWidth" ng-model="model.value.width" />
        </div>

</div>